@{
  Layout = "_Layout";
}

@model UniversityRegistrar.Models.Course

<h1>Add Student</h1>

<div class='content'>
  @using(Html.BeginForm())
  {
    @Html.HiddenFor(model => model.CourseId)

    @Html.Label("Select a Student")
    @Html.DropDownList("StudentId")

    <input type="submit" value="Save" class='btn'>
  }
</div>

<div class='links'>
  <p>@Html.ActionLink("Back to Courses", "Index")</p>
</div>