@{
  Layout = "_Layout";
}

@model UniversityRegistrar.Models.Course

<h2>Add Student</h2>

@using(Html.BeginForm())
{
  @Html.HiddenFor(model => model.CourseId)

  @Html.Label("Select a Student")
  @Html.DropDownList("StudentId")

  <input type="submit" value="Save">
}

<p>@Html.ActionLink("Back to Courses", "Index")</p>
